<h3>Batch <%= batch.id %></h3>

<table class="clearance-batch">

  <%= render "tables/item_header" %>
  <tbody>
    <%= render partial: "items/item", collection: batch.items %>
  </tbody>

  <%= render "tables/batch_statistics", batch: batch %>
</table>
