.clearance_batches {
  textarea {
    height: 150px;
    width: 900px!important;
  }
  h2 {
    margin-top: 0;
  }
  .loose button{
    display: block;
  }
}
.input-form {
  position: relative;

  a.switch  {
    position: absolute;
    top: 0;
    left: 700px;
  }
}
.index-export {
  margin-top: 50px;
}