.navbar-default {
  background-color: white;
  border: none;
  margin-bottom: 0;

  .container-fluid {
    padding: 0;
  }
  .navbar-header a {
    color: #333;
    font-size: 36px;

    &:hover {
      color: #111!important;
    }
  }
  a.dropdown-toggle {
    font-size: 24px;
    color: #428BCA!important;

    &:hover {
      color: #005DAD!important;
    }
  }
  hr {
    margin-top: 0;
    border-top: 5px solid #888;
  }
}